 #-----------------------------------------------------------------------------
# Title         : 
# Project       : 
#-----------------------------------------------------------------------------
# File          : KpixCon.ucf
# Author        : Ben Reese, bareese@slac.stanford.edu
# Created       : 05/30/2012
#-----------------------------------------------------------------------------
# Description:
# This file contains all of the user constraints required to implement the
# KPIX FPGA
#-----------------------------------------------------------------------------
# Copyright (c) 2012 by Ben Reese. All rights reserved.
#-----------------------------------------------------------------------------
# Modification history
# 05/30/2012: created.
#-----------------------------------------------------------------------------
CONFIG PART = XC5VLX30T-FF323-2;

#inst EthFrontEnd_1/U_EthClientGtp/U_GTP LOC=GTP_DUAL_X0Y4;

# Define clocks
NET sysClk125 TNM_NET = FFS sysClk125;
NET clk200    TNM_NET = FFS clk200;
NET kpixClk   TNM_NET = FFS kpixClk;

# Define clock frequncies
TIMESPEC TS_sysClk125 = PERIOD sysClk125 125 Mhz HIGH 50%;
TIMESPEC TS_clk200 = PERIOD clk200 200 Mhz HIGH 50%;
TIMESPEC TS_kpixClk = PERIOD kpixClk 100 Mhz HIGH 50%;

# Group clocks
#TIMEGRP TG_sysClk125_r = RISING sysClk125;
TIMEGRP TG_kpixClk_r = RISING kpixClk;
#TIMEGRP TG_clk200_r = RISING clk200;
TIMEGRP TG_kpixClk_f = FALLING kpixClk;


# Constrain timing between clocks
#kpixClk-sysClk125
TIMESPEC TS_sysClk125_kpixClk = FROM sysClk125 TO kpixClk 8 ns DATAPATHONLY;
TIMESPEC TS_kpixClk_sysClk125 = FROM kpixClk TO sysClk125 10 ns DATAPATHONLY;

#clk200-sysClk
TIMESPEC TS_sysClk125_clk200 = FROM sysClk125 TO clk200 8 ns DATAPATHONLY;
TIMESPEC TS_clk200_sysClk125 = FROM clk200 TO sysClk125 5 ns DATAPATHONLY;

#kpixClk-Clk200
TIMESPEC TS_kpixClk_clk200 = FROM kpixClk TO clk200 10 ns DATAPATHONLY;
TIMESPEC TS_clk200_kpixClk = FROM clk200 TO kpixClk 5 ns DATAPATHONLY;

#Handle falling clock timing
TIMESPEC TS_kpixClk_RF = FROM TG_kpixClk_r to TG_kpixClk_f 8 ns DATAPATHONLY;
TIMESPEC TS_kpixClk_FR = FROM TG_kpixClk_f to TG_kpixClk_r 8 ns DATAPATHONLY;

# Nets to ignore for timing
NET "fpgaRstL"      TIG;
NET "sysRst125" TIG;
NET "rst200" TIG;

# Needed to properly handle clk200->kpixClk constraints
NET "KpixDaqCore_1/KpixClockGen_1/r_clkDiv" TIG;

# Pin Assignments

# Main clock and reset
NET "fpgaRstL"           LOC = "V5" | IOSTANDARD = "LVCMOS33";
NET "gtpRefClkP"         LOC = "C3";
NET "gtpRefClkN"         LOC = "C4";

# Ethernet Interface
NET "udpTxP"             LOC = "A2";
NET "udpTxN"             LOC = "B2";
NET "udpRxP"             LOC = "B1";
NET "udpRxN"             LOC = "C1";

# Where to send debugOutA and B?
NET "debugOutA" LOC = "V13" | IOSTANDARD = "LVCMOS33"; 
NET "debugOutB" LOC = "V11" | IOSTANDARD = "LVCMOS33"; 

#External Trigger - NimA
NET "triggerExtIn_nimA" LOC = "M10" | IOSTANDARD = "LVCMOS33"; 
NET "triggerExtIn_nimB" LOC = "T17" | IOSTANDARD = "LVCMOS33"; 
NET "triggerExtIn_cmosA" LOC = "T12" | IOSTANDARD = "LVCMOS33"; 
NET "triggerExtIn_cmosB" LOC = "T18" | IOSTANDARD = "LVCMOS33"; 

NET "kpixClkOutP" LOC = "H13";
NET "kpixClkOutN" LOC = "J14";
NET "kpixRstOut" LOC = "H18" | IOSTANDARD = "LVCMOS25";
NET "kpixTriggerOutP" LOC = "N13";
NET "kpixTriggerOutN" LOC = "M13";
NET "kpixSerTxOut<0>" LOC = "L16" | IOSTANDARD = "LVCMOS25";
NET "kpixSerTxOut<1>" LOC = "N18" | IOSTANDARD = "LVCMOS25";
NET "kpixSerTxOut<2>" LOC = "M18" | IOSTANDARD = "LVCMOS25";
NET "kpixSerTxOut<3>" LOC = "M14" | IOSTANDARD = "LVCMOS25";
NET "kpixSerRxIn<0>" LOC = "L12" | IOSTANDARD = "LVCMOS25";
NET "kpixSerRxIn<1>" LOC = "J17" | IOSTANDARD = "LVCMOS25";
NET "kpixSerRxIn<2>" LOC = "K17" | IOSTANDARD = "LVCMOS25";
NET "kpixSerRxIn<3>" LOC = "H15" | IOSTANDARD = "LVCMOS25";


