#-----------------------------------------------------------------------------
# Title         : ADC Test FPGA Constraints File
#-----------------------------------------------------------------------------
# File          : AdcTest.ucf
# Author        : Ryan Herbst, rherbst@slac.stanford.edu
# Created       : 04/06/2009
#-----------------------------------------------------------------------------
# Description:
# This file contains all of the user constraints required to implement the
# ADC Test FPGA.
#-----------------------------------------------------------------------------
# Copyright (c) 2009 by Ryan Herbst. All rights reserved.
#-----------------------------------------------------------------------------
# Modification history
# 04/06/2009: created.
#-----------------------------------------------------------------------------


#-----------------------------------------------------------------------------
#-------------------------- Timing Constraints -------------------------------
#-----------------------------------------------------------------------------
# This section contains the timing constraints for the FPGA
#-----------------------------------------------------------------------------

# Define system clocks
NET sysClk20In TNM_NET = FFS sysClk20In;

# 20 Mhz System Clock
TIMESPEC TS_sysClk20In  = PERIOD sysClk20In 20 Mhz HIGH 50%;

# Nets to ignore for timing
NET "fpgaRstL"      TIG;

#-----------------------------------------------------------------------------
#-------------------------- Pin Location Constraints -------------------------
#-----------------------------------------------------------------------------
# This section contains the pin location constraints for the design
#-----------------------------------------------------------------------------

NET "fpgaRstL"        LOC = "P67";
NET "sysClk20In"      LOC = "P180";
NET "usbData(7)"      LOC = "P147";
NET "usbData(6)"      LOC = "P148";
NET "usbData(5)"      LOC = "P149";
NET "usbData(4)"      LOC = "P150";
NET "usbData(3)"      LOC = "P152";
NET "usbData(2)"      LOC = "P155";
NET "usbData(1)"      LOC = "P156";
NET "usbData(0)"      LOC = "P154";
NET "usbRdL"          LOC = "P146";
NET "usbWr"           LOC = "P144";
NET "usbTxeL"         LOC = "P143";
NET "usbRxfL"         LOC = "P141";
NET "usbPwrEnL"       LOC = "P140";
NET "adcEnable"       LOC = "P96";  # Spare 8 
NET "adcClk"          LOC = "P97";  # Spare 10
NET "adcDout"         LOC = "P85";  # Spare 9
NET "calCsL"          LOC = "P176"; # Debug 3
NET "calClrL"         LOC = "P139"; # Debug 0
NET "calSClk"         LOC = "P181"; # Debug 2
NET "calSDin"         LOC = "P138"; # Debug 1

#-----------------------------------------------------------------------------
#-------------------------- IO Standard Constraints --------------------------
#-----------------------------------------------------------------------------
# This section defines the IO types, IO delays and other IO parameters 
#-----------------------------------------------------------------------------

NET "fpgaRstL"        IOSTANDARD = "LVCMOS33";
NET "sysClk20In"      IOSTANDARD = "LVCMOS33";
NET "usbData(7)"      IOSTANDARD = "LVCMOS33";
NET "usbData(6)"      IOSTANDARD = "LVCMOS33";
NET "usbData(5)"      IOSTANDARD = "LVCMOS33";
NET "usbData(4)"      IOSTANDARD = "LVCMOS33";
NET "usbData(3)"      IOSTANDARD = "LVCMOS33";
NET "usbData(2)"      IOSTANDARD = "LVCMOS33";
NET "usbData(1)"      IOSTANDARD = "LVCMOS33";
NET "usbData(0)"      IOSTANDARD = "LVCMOS33";
NET "usbRdL"          IOSTANDARD = "LVCMOS33";
NET "usbWr"           IOSTANDARD = "LVCMOS33";
NET "usbTxeL"         IOSTANDARD = "LVCMOS33";
NET "usbRxfL"         IOSTANDARD = "LVCMOS33";
NET "usbPwrEnL"       IOSTANDARD = "LVCMOS33";
NET "adcEnable"       IOSTANDARD = "LVCMOS25";
NET "adcClk"          IOSTANDARD = "LVCMOS25";
NET "adcDout"         IOSTANDARD = "LVCMOS25";
NET "calCsL"          IOSTANDARD = "LVCMOS33";
NET "calClrL"         IOSTANDARD = "LVCMOS33";
NET "calSClk"         IOSTANDARD = "LVCMOS33";
NET "calSDin"         IOSTANDARD = "LVCMOS33";

