 #-----------------------------------------------------------------------------
# Title         : 
# Project       : 
#-----------------------------------------------------------------------------
# File          : KpixCon.ucf
# Author        : Ben Reese, bareese@slac.stanford.edu
# Created       : 05/30/2012
#-----------------------------------------------------------------------------
# Description:
# This file contains all of the user constraints required to implement the
# KPIX FPGA
#-----------------------------------------------------------------------------
# Copyright (c) 2012 by Ben Reese. All rights reserved.
#-----------------------------------------------------------------------------
# Modification history
# 05/30/2012: created.
#-----------------------------------------------------------------------------
CONFIG PART = XC5VLX50T-FF1136-1;

inst EthFrontEnd_1/U_EthClientGtp/U_GTP LOC=GTP_DUAL_X0Y4;

# Define clocks
NET sysClk125 TNM_NET = FFS sysClk125;
NET clk200    TNM_NET = FFS clk200;
NET kpixClk   TNM_NET = FFS kpixClk;

# Define clock frequncies
TIMESPEC TS_sysClk125 = PERIOD sysClk125 125 Mhz HIGH 50%;
TIMESPEC TS_clk200 = PERIOD clk200 200 Mhz HIGH 50%;
TIMESPEC TS_kpixClk = PERIOD kpixClk 60 Mhz HIGH 50%;

# Group clocks
TIMEGRP TG_sysClk125_r = RISING sysClk125;
TIMEGRP TG_kpixClk_r = RISING kpixClk;
TIMEGRP TG_clk200_r = RISING clk200;

# Constrain timing between clocks
TIMESPEC TS_sysClk125_kpixClk = FROM TG_sysClk125_r TO TG_kpixClk_r 8ns;
TIMESPEC TS_kpixClk_sysClk125 = FROM TG_kpixClk_r TO TG_sysClk125_r 8ns;
TIMESPEC TS_sysClk125_clk200 = FROM TG_sysClk125_r TO TG_clk200_r 8 ns;
TIMESPEC TS_kpixClk_clk200 = FROM TG_kpixClk_r TO TG_clk200_r 8 ns;

# Nets to ignore for timing
NET "fpgaRstL"      TIG;


# Pin Assignments

# Main clock and reset
NET "fpgaRstL"           LOC = "J14" | IOSTANDARD = "LVCMOS33";
NET "gtpRefClkP"         LOC = "H4";
NET "gtpRefClkN"         LOC = "H3";

# Ethernet Interface
NET "udpTxP"             LOC = "F2";
NET "udpTxN"             LOC = "G2";
NET "udpRxP"             LOC = "G1";
NET "udpRxN"             LOC = "H1";

# Where to send debugOutA and B?
NET "debugOutA" LOC = "K12" | IOSTANDARD = "LVCMOS33"; # DBG_OUT0
NET "debugOutB" LOC = "K13" | IOSTANDARD = "LVCMOS33"; # DBG_OUT1

#External Trigger - NimA
NET "triggerIn_extTrigger" LOC = "K14" | IOSTANDARD = "LVCMOS33"; #NUM_IN0

NET "kpixClkOut" LOC = "N7" | IOSTANDARD = "LVCMOS33"; #KPIX_CLK_OUTA
NET "kpixRstOut" LOC = "P5" | IOSTANDARD = "LVCMOS33";
NET "kpixTriggerOut" LOC = "M5" | IOSTANDARD = "LVCMOS33";
NET "kpixSerTxOut<0>" LOC = "L4" | IOSTANDARD = "LVCMOS33";
NET "kpixSerTxOut<1>" LOC = "L5" | IOSTANDARD = "LVCMOS33";
NET "kpixSerTxOut<2>" LOC = "P7" | IOSTANDARD = "LVCMOS33";
NET "kpixSerTxOut<3>" LOC = "P6" | IOSTANDARD = "LVCMOS33";
NET "kpixSerRxIn<0>" LOC = "D11" | IOSTANDARD = "LVCMOS33";
NET "kpixSerRxIn<1>" LOC = "D10" | IOSTANDARD = "LVCMOS33";
NET "kpixSerRxIn<2>" LOC = "K11" | IOSTANDARD = "LVCMOS33";
NET "kpixSerRxIn<3>" LOC = "J11" | IOSTANDARD = "LVCMOS33";


